{% extends "base.html" %}

{% block title %}Equipo{% endblock %}

{% block content %}

<section class="spad">

    <div class="container">

        <div class="section-title center-title">
            <span>Conócenos</span>
            <h2>Equipo</h2>
        </div>


        <!-- Primera fila -->
        <div class="row g-4 justify-content-center">

            <div class="col-md-4">
                <div class="hero-card p-4 h-100 text-center">

                    <h5>UMAJINGA SHAULIN</h5>
                    <p class="text-muted">
                        Desarrollador
                    </p>

                </div>
            </div>



            <div class="col-md-4">
                <div class="hero-card p-4 h-100 text-center">

                    <h5>VARGAS JOEL</h5>
                    <p class="text-muted">
                        Desarrollador
                    </p>

                </div>
            </div>



            <div class="col-md-4">
                <div class="hero-card p-4 h-100 text-center">

                    <h5>VEGA NADIA</h5>
                    <p class="text-muted">
                        Desarrollador
                    </p>

                </div>
            </div>

        </div>



        <!-- Segunda fila con Edson centrado -->
        <div class="row g-4 justify-content-center mt-4">

            <div class="col-md-4">

                <div class="hero-card p-4 h-100 text-center">

                    <h5>VENEGAS EDSON</h5>
                    <p class="text-muted">
                        Desarrollador
                    </p>

                </div>

            </div>

        </div>


    </div>

</section>

{% endblock %}