{% extends "base_admin.html" %}
{% block title %}Pagos y Seguimiento{% endblock %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Pagos registrados</h2>
        <a href="{% url 'lista_reservas' %}" class="btn btn-success">Agregar a una reserva</a>
    </div>
    <table class="table table-dark">
        <tr><th>Reserva</th><th>Total</th><th>Abono</th><th>Saldo</th><th>Acciones</th></tr>
        {% for p in pagos %}
        <tr>
            <td>{{ p.reserva.nombre_evento }}</td>
            <td>{{ p.total }}</td>
            <td>{{ p.abono }}</td>
            <td>{{ p.saldo }}</td>
            <td>
                <a href="{% url 'ver_pago' p.id %}" class="btn btn-sm btn-primary">Ver</a>
                <a href="{% url 'editar_pago' p.id %}" class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'agregar_extra_pago' p.id %}" class="btn btn-sm btn-success">Agregar cosas</a>
                <a href="{% url 'eliminar_pago' p.id %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
